{% load i18n %} 
{% include 'header.html' %}
{% load app_filter %}


</div>
    <!-- Main Content -->
    <div class="container">
      <!--   <div class = "row" > 
            <label> Industry Name : {{ industryName }} </label> <br>
            <label> Sector Name : {{ sectorName }} </label> <br>
            <label> Reviews : Total {{ no_of_sentences }} Reviews</label>  <br>
             <table> 
                <tr> 
                    <td> <label> Rating : </label>  </td>
                     
                    <td>  <input id="input-id" name="input-name" type="number" class="rating" clearButton = "1"  showClear = "false"  clearButtonTitle = "click me"  min=0 max=5 step=0.5 data-size="xs" rtl = "true" data-rtl="false"   
                    value = '{{ overallRating }}'   readOnly = "false"  displayOnly = "false">
                    
                    </td>
                </tr>
              </table>

            <label> Description : {{ description }} </label> <br> 
            <label>  Website : <a href = "http://{{ website }}" > {{ website }} </a> </label>
           
            </div> -->

        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">

            {% for key , value in feature_json.items %}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Feature name : {{ key }}
                        </h2>
                    </a>
                        <h3 class="post-subtitle">
                           Number of Reviews :  {{value.no_of_sentences}}
                        </h3> 
                        <h3 class="post-subtitle">
                           Sentiment : {{ value.sentiment }}
                        </h3> 
                        
                        <ul>
                        {% for id in value.sentence_ids %}
                        <!-- <li> id is :  {{ id }} </li> -->
                        <!-- <li> testing : {{sentences|get_from_dict:id}} </li> -->
                        {% with sentences|get_from_dict:id as dict %}

                        <li>  Review  {{ id }}  :   {{dict.sentence_text }} </li>
                        </ul>
                        {% endwith %}
                        {% endfor %}

                    <p class="post-meta">Posted  on {{ value.time }}</p>
                </div>
                <hr>
             {% endfor%}   
                
                
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    
</body>

</html>
