<!DOCTYPE HTML>
<html>
<head>
<title>Company Review </title>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--search start here-->
<div class="search">
	<i> </i>
	<div class="s-bar">
	   <form action = "/main/" method = "get">
	   
		<input type="text" value='company_name'  name = "company_name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Company';}">
		<input type="submit"  value="Search"/>
	  </form>
	</div>
	<!-- <p>Popular searches: <a href="#">Modern PSD template,</a> <a href="#"> Portfolio design </a></p> -->
</div>
<!--search end here-->	
<div class="copyright">
	 <p>2017 &copy DTU All rights reserved</p>
</div>	
</body>
</html>